.defecto{
    width: 500px;
    height: 500px;
    background: #ffee00;
    margin: 20px;
}

.activado{
    width: 500px; 
    height: 500px;
    background: #0011fa;
    margin: 20px;
}

.desactivado{
    width: 500px;
    height: 500px;
    background: #fc0000;
    margin: 20px;
}